.app.dark {
	// min-width: 100vw;
	// min-height: 100vh;
	background: #111;
	color: rgb(156, 156, 156);

	.navbar {
		color: #999;
		border-color: #333;

		.search {
			border-color: grey;
		}
	}

	.sidebar {
		background: #111;
		border-color: #333;

		.top {
			.logo {
				color: #999;
			}
		}

		hr {
			border-color: #333;
		}

		ul {
			li {
				&:hover {
					background: #333;
				}

				.icon {
					color: #999;
				}
			}
		}
	}

	.widgetLg {
		.item {
			.display-btn {
				background: #333;
				color: grey;
			}
		}
	}

	.chart-grid {
		stroke: rgba(228, 228, 228, 0.219);
	}

	.transaction-table {
		background: #111;

		.table-cell {
			color: grey;
		}
	}

	.data-table {
		.title {
			color: grey;
		}

		.table {
			background: #111;

			.table-cell {
				color: grey;
			}

			.checkbox {
				color: grey;
			}
		}

		.pagination {
			background: #111;
			color: grey;
		}
	}

	input {
		background: transparent;
		color: #999;
	}

	select {
		background: #111;
		color: grey;
	}
}
