.data-table {
	height: 600px;
	padding: 20px;

	.data-table-title {
		width: 100%;
		font-size: 24px;
		color: gray;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.link {
			text-decoration: none;
			color: green;
			font-size: 16px;
			font-weight: 400;
			border: 1px solid green;
			padding: 5px;
			border-radius: 5px;
			cursor: pointer;
		}
	}

	.cell-wrapper {
		display: flex;
		align-items: center;

		.image {
			width: 32px;
			height: 32px;
			border-radius: 100%;
			margin-right: 10px;
			object-fit: cover;
		}
	}

	.status {
		padding: 5px;
		border-radius: 5px;

		&.active {
			color: green;
			background: rgba(0, 128, 0, 0.151);
		}
		&.pending {
			color: goldenrod;
			background: rgba(189, 189, 3, 0.103);
		}
		&.passive {
			color: crimson;
			background: rgba(255, 0, 0, 0.2);
		}
	}

	.cell-action {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;

		.edit-btn {
			padding: 2px 5px;
			border-radius: 5px;
			color: darkgreen;
			border: 1px dotted rgba(0, 100, 0, 0.562);
			cursor: pointer;
		}

		.delete-btn {
			padding: 2px 5px;
			border-radius: 5px;
			color: crimson;
			border: 1px dotted rgba(220, 20, 60, 0.6);
			cursor: pointer;
		}
	}
}
